body {
    Background-color:black;
    text-align: center;
}

h1 {
    color:white;
    font-family: verdana;
    font-size:50px;
    text-align: center;
}

a {
    color:aquamarine;
    font-size:16px;
}

.two {
    font-size:42px;
    font-weight:300;
     font-family: verdana;
}

.three {
 font-size:21px;
   color:gray;
     font-family: verdana;   
}

p {
    text-align: right;
    color:gray;
}